<div class="page page_dashboard">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
        <app-navbar></app-navbar>
      </div>
      <div class="col-sm-9">

        <div class="row">
          <div class="col-sm-4">
            <div class="chart-1" style="width:100%; height:200px;"></div>
          </div>
          <div class="col-sm-4">
            <div class="chart-2" style="width:100%; height:200px;"></div>
          </div>
          <div class="col-sm-4">
            <div class="chart-3" style="width:100%; height:200px;"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div id="maps"></div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div><!--/ .page.page_dashboard -->
