<div class="page page_index">
  <!-- <app-register></app-register> -->
  <!-- <app-login></app-login> -->
  <!-- <app-dashboard-index></app-dashboard-index> -->
  <router-outlet></router-outlet>
</div>