<div class="page page_register page_auth">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
          <h2 class="text-center">Login</h2>
          <form (submit)="submitLogin(email.value, password.value)">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" #email>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            <hr>
            <p>Don't have an account? <a href="/register">Register here</a></p>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center">{{modal.message}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="toggleModal()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->