<div class="dashboard-navbar">
  <div class="dashboard-user text-center">
    <img src="//placehold.it/200x200">
    <p>{{currentUser.email}}</p>
  </div>
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/maps">Maps</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>