<div class="page page_dashboard">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-3">
          <app-navbar></app-navbar>
        </div>
        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-12">

              <div id="maps"></div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div><!--/ .page.page_dashboard -->
