<div class="page page_register page_auth">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
          <h2 class="text-center">Register</h2>
          <form (submit)="registerUser(email.value, password.value)">
            <div class="form-group">
              <label for="register-email">Email</label>
              <input type="email" class="form-control" id="register-email" placeholder="Email" #email>
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                <input type="password" class="form-control" id="register-password" placeholder="Password" #password>
              </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            <hr>
            <p>Already have account? <a href="/login">Login here</a></p>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center">{{modal.message}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="toggleModal()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->