/* body */
html, body {height:100%; min-height:100%;}

img {max-width:100%;}

.page {min-height:100%;}

/* .page_dashboard .container-fluid {padding:0;} */

.dashboard-navbar {background:#074864; color:#fff; padding-top:30px;}
.dashboard-navbar ul {list-style:none; margin:0; padding:0;}
.dashboard-navbar ul li {border-top:1px solid #fff;}
.dashboard-navbar ul li a {padding:10px 20px; display:block; color:#fff;}
.dashboard-navbar ul li a:hover {background:#fff; color:#074864; text-decoration:none; cursor:pointer;}
